.donate {
    // General styling
    .hero-mini{
      height: 345px;
    }
    .hero {
      &--subtitle, &--cta {
        display: none;
      }
    }
    // Desktop specific styling
    @media (min-width: $tablet) {
    }
    
      // Mobile specific styling
      @media (max-width: $tablet) {
        .hero--title{
          margin-top: 65px;
        }
      }
    }