// Microsoft Edge and IE 10+Specific
_:-ms-input-placeholder, :root {
  [class*="col"] {
  flex: 1000px;
}
  .home {
    .hero {
      h1 {
        color: $font-general;
      }
      h2 {
        color: $font-general;
      }
    }
  }
}